.item {
  background-color: #4c4c4c;
  border-radius: 50%;
}

.icon {
  background-color: #1ea7fd;
  border-radius: 50%;
}

.radioButton {
  cursor: pointer;

  display: inline-flex;
  column-gap: 12px;
  align-items: center;

  padding: 0;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100);

  background: none;
  border: 0 solid transparent;
  border-radius: 50%;
}

.select {
  padding: 10px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    background-color: var(--color-dark-700);
  }

  &:disabled {
    padding: 10px;
    color: var(--color-light-900);
    background-color: transparent;
  }

  &:active {
    background-color: var(--color-accent-900);
  }
}

.unselect {
  padding: 10px;

  &:active {
    background-color: var(--color-accent-900);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    background-color: var(--color-dark-700);
  }

  &:disabled {
    &:first-child {
      padding: 10px;
      color: var(--color-light-900);
      background-color: transparent;
    }
  }
}

.radioAllItem {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0;
}

.radioGroupItem {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  border: 10px solid transparent;
  border-radius: 50%;
}

.radioGroupItem:active {
  background-color: var(--color-accent-900);
}

.radioGroupItem:hover {
  background-color: var(--color-dark-500);
}

.radioGroupItem:focus {
  background-color: var(--color-dark-700);
}
